<template>
    <div id="tempvarchart">
        {{tempVar.tempToday}}
    </div>
</template>

<script>
export default {
    props: ["tempVar"], 
    data() {
        return {

        }
    }, 
    methods: {

    }, 
    computed: {

    }
}
</script>>

<style>

</style>