<template>
    <div id="windstatus">
        <p>Wind Speed - {{windSpeed}}</p>
        
        <p>Wind direction - {{derivedWindDirection}}, or {{windDirection}} 
            degree clockwise with respect to the true N as 0 degrees</p>
    </div>
</template>

<script>
export default {
    props: ["highlights"], 
    data(){
        return{
            windSpeed: this.highlights.windStatus.windSpeed,
            derivedWindDirection: this.highlights.windStatus.derivedWindDirection,
            windDirection: this.highlights.windStatus.windDirection, 
        }
    },
    methods: {

    }, 
    computed: {

    }
}
</script>

<style>

</style>